@using ProgrammersBlog.Shared.Utilities.Results.ComplexTypes
@model ProgrammersBlog.Entities.Dtos.PersonWorkListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Operasyon Raporu";
}



<h1> Henüz Hazır Değil</h1>



@section Styles
{

}
@section Scripts
{



}